@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.component20538 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:11;
  grid-column-end:57;
  grid-row-start:23;
  grid-row-end:55;
  margin:0;
  padding:0;
  box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
  background:linear-gradient(90.0deg, rgba(204.76146697998047,212.29725301265717,255.0,255.0) 0%, rgba(122.8568771481514,127.37835332751274,153.00000607967377,255.0) 100%);
  border-radius: 15.0px;
  z-index: 2
}
  
.grid-item-20538 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text20539 {
	font-style: Regular;
	font-weight: 400;
	font-size: 68.18181818181817px;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 91px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 9;
	grid-column-end: 57;
	grid-row-start: 29;
	grid-row-end: 37;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container205310 {
	background-color: rgba(255.0,255.0,255.0,1.0);
	border-radius: 20.0px;
	grid-column-start: 61;
	grid-column-end: 65;
	grid-row-start: 4;
	grid-row-end: 13;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.line205311 {
    grid-column-start: 20;
    grid-column-end: 46;
    grid-row-start: 21;
    grid-row-end: 46;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
	transform: rotate(-0.7853982476911467rad);
	display: block;
	    border: solid;
    border-color: rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
    border-width: 4.0px;
}
.line205312 {
    grid-column-start: 20;
    grid-column-end: 46;
    grid-row-start: 21;
    grid-row-end: 46;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
	transform: rotate(0.7853980791037498rad);
	display: block;
	    border: solid;
    border-color: rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
    border-width: 4.0px;
}