@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 18.6796875px);

  background-color:rgba(234.29998755455017,234.29998755455017,234.29998755455017,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text20533 {
	font-style: Regular;
	font-weight: 400;
	font-size: 3.0303030303030303vw;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 97px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 20;
	grid-column-end: 48;
	grid-row-start: 37;
	grid-row-end: 40;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container20534 {
	background-color: rgba(158.48957151174545,158.48957151174545,158.48957151174545,1.0);
	border: 1.0px solid rgba(0.0,0.0,0.0,1.0);
	border-radius: 22.0px;
	grid-column-start: 27;
	grid-column-end: 40;
	grid-row-start: 57;
	grid-row-end: 65;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text20535 {
	font-style: Regular;
	font-weight: 400;
	font-size: 2.272727272727273vw;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 73px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 17;
	grid-column-end: 49;
	grid-row-start: 23;
	grid-row-end: 43;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text20539 {
	font-style: Regular;
	font-weight: 400;
	font-size: 68.18181818181817px;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 91px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 9;
	grid-column-end: 57;
	grid-row-start: 29;
	grid-row-end: 37;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container205310 {
	background-color: rgba(255.0,255.0,255.0,1.0);
	border-radius: 20.0px;
	grid-column-start: 61;
	grid-column-end: 65;
	grid-row-start: 4;
	grid-row-end: 13;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.line205311 {
    grid-column-start: 20;
    grid-column-end: 46;
    grid-row-start: 21;
    grid-row-end: 46;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
	transform: rotate(-0.7853982476911467rad);
	display: block;
	    border: solid;
    border-color: rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
    border-width: 4.0px;
}
.line205312 {
    grid-column-start: 20;
    grid-column-end: 46;
    grid-row-start: 21;
    grid-row-end: 46;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
	transform: rotate(0.7853980791037498rad);
	display: block;
	    border: solid;
    border-color: rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
    border-width: 4.0px;
}
.container20536 {
	background-color: rgba(0.0,0.0,0.0,1.0);
	border-radius: 20.0px;
	grid-column-start: 32;
	grid-column-end: 35;
	grid-row-start: 69;
	grid-row-end: 74;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text20537 {
	font-style: Regular;
	font-weight: 400;
	font-size: 3.0303030303030303vw;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 97px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 30;
	grid-column-end: 37;
	grid-row-start: 13;
	grid-row-end: 51;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

