@import url("https://fonts.googleapis.com/css2?family=Lato:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.component27702790 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:5;
  grid-column-end:20;
  grid-row-start:1;
  grid-row-end:30;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-27702790 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container27702874 {
	grid-column-start: 7;
	grid-column-end: 58;
	grid-row-start: 4;
	grid-row-end: 43;
	border-top-left-radius: 17.0px;
	border-top-right-radius: 17.0px;
}


.container27702875 {
	grid-column-start: 8;
	grid-column-end: 60;
	grid-row-start: 44;
	grid-row-end: 59;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text27702876 {
	font-style: SemiBold;
	font-weight: 600;
	font-size: 1.4285714285714286vw;
	font-family: 'Lato', sans-serif;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 1;
	grid-column-end: 26;
	grid-row-start: 5;
	grid-row-end: 15;
	display: flex;
	overflow-wrap: break-word;
	text-decoration: none;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text27702877 {
	font-style: Bold;
	font-weight: 700;
	font-size: 0.974025974025974vw;
	font-family: 'Lato', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(249.00000035762787,249.00000035762787,249.00000035762787,1.0);
	grid-column-start: 37;
	grid-column-end: 61;
	grid-row-start: 49;
	grid-row-end: 57;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text27702878 {
	font-style: Bold;
	font-weight: 700;
	font-size: 0.974025974025974vw;
	font-family: 'Lato', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(249.00000035762787,249.00000035762787,249.00000035762787,1.0);
	grid-column-start: 1;
	grid-column-end: 33;
	grid-row-start: 49;
	grid-row-end: 56;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.rectangle27702879 {
    grid-column-start: 38;
    grid-column-end: 61;
    grid-row-start: 4;
    grid-row-end: 12;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 51.0px;
    width: 73.0px;
  background-color:rgba(248.0000004172325,179.000004529953,25.000000409781933,1.0);
	border-top-right-radius: 17.0px;
	border-bottom-left-radius: 17.0px;
	display: grid;
	  border: 0;}
.text27702880 {
	font-style: SemiBold;
	font-weight: 600;
	font-size: 1.2987012987012987vw;
	font-family: 'Lato', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 1;
	grid-column-end: 64;
	grid-row-start: 6;
	grid-row-end: 8;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.srating27702881 {
    grid-column-start: 7;
    grid-column-end: 35;
    grid-row-start: 50;
    grid-row-end: 53;
	  color: rgba(255.0,202.9374584555626,69.0624949336052,1.0);
}
  