@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component27702966 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:21;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-27702966 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container27703072 {
	grid-column-start: 5;
	grid-column-end: 63;
	grid-row-start: 3;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container27703073 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 53;
	border-radius: 8.0px;
}


.text27703074 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9090909090909091vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(224.000001847744,224.000001847744,224.000001847744,1.0);
	grid-column-start: 1;
	grid-column-end: 47;
	grid-row-start: 56;
	grid-row-end: 63;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

