@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

.component27702970 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:8;
  grid-column-end:34;
  grid-row-start:65;
  grid-row-end:70;
  margin:0;
  padding:0;
  background-color:rgba(41.00000135600567,46.000001057982445,57.00000040233135,1.0);

  border-radius: 20.0px;
}
  
.grid-item-27702970 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component27702969 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:8;
  grid-column-end:34;
  grid-row-start:59;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(41.00000135600567,46.000001057982445,57.00000040233135,1.0);

  border-radius: 20.0px;
}
  
.grid-item-27702969 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text27702976 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: 'ABeeZee', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(130.68749696016312,130.68749696016312,130.68749696016312,1.0);
	grid-column-start: 10;
	grid-column-end: 18;
	grid-row-start: 13;
	grid-row-end: 20;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text27702977 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.7142857142857143vw;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(130.68749696016312,130.68749696016312,130.68749696016312,1.0);
	grid-column-start: 5;
	grid-column-end: 61;
	grid-row-start: 31;
	grid-row-end: 52;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container27702978 {
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 7;
	grid-row-end: 25;
}


.srating27702979 {
    grid-column-start: 19;
    grid-column-end: 29;
    grid-row-start: 13;
    grid-row-end: 20;
	  color: rgba(242.00000077486038,242.00000077486038,242.00000077486038,1.0);
}
  