@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component2811116 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:None;
  grid-column-end:None;
  grid-row-start:None;
  grid-row-end:None;
  margin:0;
  padding:0;
  border: 1.0px solid rgba(0.0,0.0,0.0,1.0);
  background-color:rgba(0.0,0.0,0.0,0.0);

  border-radius: 4.0px;
}
  
.grid-item-2811116 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text2811117 {
	font-style: Regular;
	font-weight: 400;
	font-size: 14.545454545454545px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 14;
	grid-column-end: 52;
	grid-row-start: 47;
	grid-row-end: 52;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2814223 {
	grid-column-start: 21;
	grid-column-end: 43;
	grid-row-start: 15;
	grid-row-end: 40;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2814224 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}

.container2814225 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 28;
	grid-row-start: 35;
	grid-row-end: 56;
}

.container2814226 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 40;
	grid-column-end: 57;
	grid-row-start: 35;
	grid-row-end: 56;
}

.container2814227 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 57;
	grid-row-start: 11;
	grid-row-end: 43;
}

