
.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 24.7890625px);

  background-color:rgba(185.3928878903389,181.33856624364853,229.9903804063797,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.scheckbox30531613 {
    grid-column-start: 7;
    grid-column-end: 16;
    grid-row-start: 15;
    grid-row-end: 20;
    margin:5px;
    --p-checkbox-background:  rgba(255.0,255.0,255.0,1.0);
    --p-checkbox-border-radius:4.0px;
  }

  .labelscheckbox30531613 {
    color: rgba(154.48750466108322,149.20922309160233,149.20922309160233,1.0);
    margin-left: 5px;
    position: relative;
    top:3px;
  }
  
.scheckbox30531617 {
    grid-column-start: 7;
    grid-column-end: 15;
    grid-row-start: 33;
    grid-row-end: 45;
    margin:5px;
    --p-checkbox-background:  rgba(255.0,255.0,255.0,1.0);
    --p-checkbox-border-radius:4.0px;
  }

  .labelscheckbox30531617 {
    color: rgba(0.0,0.0,0.0,1.0);
    margin-left: 5px;
    position: relative;
    top:3px;
  }
  
.sdatepicker30531630 {
    grid-column-start: 20;
    grid-column-end: 32;
    grid-row-start: 33;
    grid-row-end: 36;
}

:deep(.sdatepicker30531630 .p-datepicker-input){
	background-color: rgba(255.0,255.0,255.0,1.0);
}
 
 :deep(.sdatepicker30531630 .p-datepicker-dropdown .p-icon){
	color: rgba(0.0,0.0,0.0,1.0);
}

:deep(.sdatepicker30531630 .p-datepicker-dropdown){
	background-color:rgba(234.29998755455017,234.29998755455017,234.29998755455017,1.0);
}
  
.svueselect30531636 {
    grid-column-start: 22;
    grid-column-end: 30;
    grid-row-start: 54;
    grid-row-end: 56;
}

div:deep(.svueselect30531636 .v-input__control) {
  display: flex;
  grid-area: control;
  min-width: 300px;
  background-color:rgba(255.0,255.0,255.0,1.0);
  color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
  border-radius: 8.0px;
}

div:deep(.svueselect30531636 .v-field__outline) {
  --v-field-border-width:0px;
  --v-field-border-opacity:0;
}

  
.form30531700 {
    grid-column-start: 7;
    grid-column-end: 22;
    grid-row-start: 67;
    grid-row-end: 84;
  }
 
  .submitbtnform30531700 {
    background-color: rgba(106.88748925924301,105.37329331040382,105.37329331040382,1.0);
    border-radius: 8px;
    width:200px;
    height:50px;
    margin-top: 10px;
    position: relative;
    left:  87.3076923076923px;
  }
.inputform30531700 .p-inputtext{ 
  --p-inputtext-background:rgba(43.00000123679638,42.000001296401024,44.000001177191734,1.0);
  width: 349.2307692307692px;
  color: rgba(201.23750567436218,201.23750567436218,201.23750567436218,1.0);
}

.ssearchinputfilter30531709 {
    position: relative;  
    display: flex;       
    grid-column-start: 24;
    grid-column-end: 34;
    grid-row-start: 70;
    grid-row-end: 73;
}
.ssearchinputfilter30531709 .p-inputtext{
   --p-inputtext-background: rgba(6.000000117346644,7.000000057742,27.000000290572643,1.0);
   --p-inputtext-color: rgba({'r': 0.8549999594688416, 'g': 0.8549999594688416, 'b': 0.8549999594688416, 'a': 1.0});
   --p-inputtext-border-radius:4.0px;
    padding-left: 35px; 
}


.ssearchinputfilter30531709 .pi {
  position: absolute;
  left: 10px;
  transform: translateY(10%);
  pointer-events: none;
}
  
.srating30531712 {
    grid-column-start: 24;
    grid-column-end: 32;
    grid-row-start: 80;
    grid-row-end: 82;
	  color: rgba(255.0,202.9374584555626,69.0624949336052,1.0);
}
  
.stable30531779 {
    grid-column-start: 17;
    grid-column-end: 58;
    grid-row-start: 89;
    grid-row-end: 122;
    --p-datatable-row-background: rgba(205.48751682043076,203.26141387224197,203.26141387224197,1.0);
    --p-datatable-body-cell-border-color: rgba(205.48751682043076,203.26141387224197,203.26141387224197,1.0);
    --p-datatable-row-color: rgba(0.0,0.0,0.0,1.0);
}
:deep(.stable30531779 .p-datatable-header-cell){
  background:rgba(64.38749179244041,64.38749179244041,64.38749179244041,1.0);
  color:rgba(255.0,255.0,255.0,1.0);
}


.srating30531845 {
    grid-column-start: 45;
    grid-column-end: 53;
    grid-row-start: 76;
    grid-row-end: 78;
	  color: rgba(255.0,202.9374584555626,69.0624949336052,1.0);
}
  