@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 18.6796875px);

  background-color:rgba(22.000000588595867,21.000000648200512,27.000000290572643,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container3322164 {
	border: 1.0px solid rgba(94.15388613939285,94.15388613939285,94.15388613939285,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 9;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.ssearchinputfilter3322165 {
    position: relative;  
    display: flex;       
    grid-column-start: 34;
    grid-column-end: 45;
    grid-row-start: 21;
    grid-row-end: 49;
}
.ssearchinputfilter3322165 .p-inputtext{
   --p-inputtext-background: rgba(33.00000183284283,34.00000177323818,39.00000147521496,1.0);
   --p-inputtext-color: rgba({'r': 0.7686274647712708, 'g': 0.7686274647712708, 'b': 0.7686274647712708, 'a': 1.0});
   --p-inputtext-border-radius:4.0px;
    padding-left: 35px; 
}


.ssearchinputfilter3322165 .pi {
  position: absolute;
  left: 10px;
  transform: translateY(10%);
  pointer-events: none;
}
  
.text3322166 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0606060606060606vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(196.00000351667404,196.00000351667404,196.00000351667404,1.0);
	grid-column-start: 19;
	grid-column-end: 22;
	grid-row-start: 32;
	grid-row-end: 41;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322167 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0606060606060606vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(196.00000351667404,196.00000351667404,196.00000351667404,1.0);
	grid-column-start: 24;
	grid-column-end: 27;
	grid-row-start: 31;
	grid-row-end: 40;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322168 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0606060606060606vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(196.00000351667404,196.00000351667404,196.00000351667404,1.0);
	grid-column-start: 29;
	grid-column-end: 33;
	grid-row-start: 30;
	grid-row-end: 38;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322189 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.6666666666666667vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 21;
	grid-column-end: 29;
	grid-row-start: 14;
	grid-row-end: 16;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3322201 {
	border: 1.0px solid rgba(94.15388613939285,94.15388613939285,94.15388613939285,1.0);
	grid-column-start: 1;
	grid-column-end: 18;
	grid-row-start: 9;
	grid-row-end:  span 128;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3322202 {
	grid-column-start: 8;
	grid-column-end: 46;
	grid-row-start: 4;
	grid-row-end: 6;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3322203 {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 9;
	grid-row-end: 55;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container3322204 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 5;
	grid-column-end: 62;
	grid-row-start: 10;
	grid-row-end: 56;
}


.text3322205 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.6666666666666667vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 15;
	grid-column-end: 37;
	grid-row-start: 18;
	grid-row-end: 44;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3322206 {
	grid-column-start: 8;
	grid-column-end: 37;
	grid-row-start: 8;
	grid-row-end: 10;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3322207 {
	grid-column-start: 1;
	grid-column-end: 14;
	grid-row-start: 6;
	grid-row-end: 60;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container3322208 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 57;
	grid-row-start: 5;
	grid-row-end: 55;
}


.text3322209 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.6666666666666667vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 21;
	grid-column-end: 51;
	grid-row-start: 16;
	grid-row-end: 47;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3322210 {
	grid-column-start: 8;
	grid-column-end: 39;
	grid-row-start: 12;
	grid-row-end: 14;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3322211 {
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container3322212 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 57;
	grid-row-start: 11;
	grid-row-end: 56;
}


.text3322213 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.6666666666666667vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 20;
	grid-column-end: 60;
	grid-row-start: 13;
	grid-row-end: 51;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3322214 {
	grid-column-start: 8;
	grid-column-end: 39;
	grid-row-start: 15;
	grid-row-end: 17;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3322215 {
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container3322216 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 13;
	grid-column-end: 54;
	grid-row-start: 8;
	grid-row-end: 58;
}


.text3322217 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.6666666666666667vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 18;
	grid-column-end: 53;
	grid-row-start: 12;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3322271 {
	background-color: rgba(106.36870309710503,164.78554487228394,198.60578209161758,1.0);
	grid-column-start: 21;
	grid-column-end: 48;
	grid-row-start: 22;
	grid-row-end: 44;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container3322259 {
	grid-column-start: 1;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 64;
}


.text3322265 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.25vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 38;
	grid-column-end: 52;
	grid-row-start: 3;
	grid-row-end: 8;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322266 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,18.879837915301323,18.879837915301323,1.0);
	grid-column-start: 38;
	grid-column-end: 41;
	grid-row-start: 23;
	grid-row-end: 25;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322267 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 38;
	grid-column-end: 40;
	grid-row-start: 27;
	grid-row-end: 30;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322268 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(8.336523715406656,8.336523715406656,8.336523715406656,1.0);
	grid-column-start: 42;
	grid-column-end: 48;
	grid-row-start: 23;
	grid-row-end: 26;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322269 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(8.336523715406656,8.336523715406656,8.336523715406656,1.0);
	grid-column-start: 37;
	grid-column-end: 48;
	grid-row-start: 12;
	grid-row-end: 15;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3322272 {
	background-color: rgba(150.54807364940643,117.03420639038086,81.209075152874,1.0);
	grid-column-start: 21;
	grid-column-end: 48;
	grid-row-start: 50;
	grid-row-end: 72;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3322274 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.25vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 38;
	grid-column-end: 63;
	grid-row-start: 3;
	grid-row-end: 8;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322275 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,18.879837915301323,18.879837915301323,1.0);
	grid-column-start: 38;
	grid-column-end: 41;
	grid-row-start: 23;
	grid-row-end: 25;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322276 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 38;
	grid-column-end: 40;
	grid-row-start: 27;
	grid-row-end: 30;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322277 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(8.336523715406656,8.336523715406656,8.336523715406656,1.0);
	grid-column-start: 42;
	grid-column-end: 48;
	grid-row-start: 23;
	grid-row-end: 26;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3322278 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(8.336523715406656,8.336523715406656,8.336523715406656,1.0);
	grid-column-start: 37;
	grid-column-end: 48;
	grid-row-start: 12;
	grid-row-end: 15;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container3322262 {
	grid-column-start: 1;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 64;
}


.rectangle332451 {
    grid-column-start: 21;
    grid-column-end: 27;
    grid-row-start: 75;
    grid-row-end: 86;
    grid-template-columns:repeat(64,1fr);
    grid-template-rows:repeat(64,1fr);
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 200.0px;
    width: 200.0px;
  background-color:rgba(217.0000022649765,217.0000022649765,217.0000022649765,1.0);
	border-radius:11.0px;
	display: grid;
	  border: 0;}
.text332452 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333334vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 22;
	grid-column-end: 26;
	grid-row-start: 61;
	grid-row-end: 67;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container332454 {
	background-color: rgba(247.00000047683716,249.00000035762787,255.0,1.0);
	border: 1.0px solid rgba(193.05956929922104,188.48446279764175,188.48446279764175,1.0);
	border-radius: 12.0px;
	grid-column-start: 22;
	grid-column-end: 25;
	grid-row-start: 63;
	grid-row-end: 73;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container332455 {
	grid-column-start: 20;
	grid-column-end: 47;
	grid-row-start: 19;
	grid-row-end: 47;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container332456 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 56;
}

.container332457 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 18;
	grid-column-end: 49;
	grid-row-start: 52;
	grid-row-end: 64;
}

