
.component29334141 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:None;
  grid-column-end:None;
  grid-row-start:None;
  grid-row-end:None;
  margin:0;
  padding:0;
  background-color:rgba(255.0,255.0,255.0,0);

}
  
.grid-item-29334141 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container29334142 {
	background-color: rgba(230.00000149011612,224.000001847744,246.0000005364418,1.0);
	border-radius: 2.0px;
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container29334143 {
	background-color: rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
	border-radius: 2.0px;
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container29334144 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.ellipse29334145 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 50%);
    height: 30.0px;
    width: 30.0px;
  background-color:rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
	display: block;
	  border: 0;}
.container29334146 {
	grid-column-start: 4;
	grid-column-end: 65;
	grid-row-start: 5;
	grid-row-end: 56;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.rectangle29334147 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 24.0px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.container29334148 {
	background-color: rgba(196.00000351667404,196.00000351667404,196.00000351667404,1.0);
	grid-column-start: 4;
	grid-column-end: 64;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.rectangle29334149 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334150 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334151 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334152 {
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334153 {
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334154 {
    grid-column-start: 18;
    grid-column-end: 22;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334155 {
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334156 {
    grid-column-start: 25;
    grid-column-end: 29;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334157 {
    grid-column-start: 28;
    grid-column-end: 32;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334158 {
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334159 {
    grid-column-start: 35;
    grid-column-end: 39;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334160 {
    grid-column-start: 38;
    grid-column-end: 42;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334161 {
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334162 {
    grid-column-start: 45;
    grid-column-end: 49;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334163 {
    grid-column-start: 48;
    grid-column-end: 52;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334164 {
    grid-column-start: 52;
    grid-column-end: 56;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334165 {
    grid-column-start: 55;
    grid-column-end: 59;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334166 {
    grid-column-start: 58;
    grid-column-end: 62;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334167 {
    grid-column-start: 62;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle29334168 {
    grid-column-start: 62;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 24.0px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}