@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component2734743 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:25;
  grid-column-end:42;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2734743 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container39282 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 19;
	grid-column-end: 28;
	grid-row-start: 49;
	grid-row-end: 57;
}

.container39283 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 47;
	grid-column-end: 56;
	grid-row-start: 49;
	grid-row-end: 57;
}

.container39284 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 5;
	grid-column-end: 56;
	grid-row-start: 9;
	grid-row-end: 47;
}

.container39285 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 15;
	grid-column-end: 60;
	grid-row-start: 12;
	grid-row-end: 36;
}


.container39299 {
	grid-column-start: 31;
	grid-column-end: 64;
	grid-row-start: 3;
	grid-row-end: 37;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.ellipse39300 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 5;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 50%);
    height: 16.0px;
    width: 16.0px;
  background-color:rgba(219.0000021457672,68.00000354647636,68.00000354647636,1.0);
	display: grid;
	  border: 0;}
.text39301 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.8333333333333333vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 18px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 64;
	grid-row-start: 17;
	grid-row-end: 50;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}

