@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.component2735151 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:102;
  grid-row-end: span 128;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-2735151 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container273574 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 56;
	grid-row-end: 62;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.line1061331 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(255.0,255.0,255.0,1.0);
	display: block;
	opacity: 40.00000059604645%;
	    border: solid;
    border-color: rgba(255.0,255.0,255.0,1.0);
    border-width: 1.0px;
}
.container273576 {
	grid-column-start: 26;
	grid-column-end: 42;
	grid-row-start: 28;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container273577 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container1281587 {
	grid-column-start: 4;
	grid-column-end: 63;
	grid-row-start: 4;
	grid-row-end: 62;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container1281588 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}

.container1281589 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 19;
	grid-column-end: 46;
	grid-row-start: 19;
	grid-row-end: 48;
}


.text273579 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 65;
	grid-row-start: 17;
	grid-row-end: 61;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container273580 {
	grid-column-start: 7;
	grid-column-end: 60;
	grid-row-start: 13;
	grid-row-end: 47;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container273581 {
	grid-column-start: 1;
	grid-column-end: 14;
	grid-row-start: 1;
	grid-row-end: 52;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container273582 {
	grid-column-start: 1;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 43;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container273583 {
	grid-column-start: 1;
	grid-column-end: 39;
	grid-row-start: 1;
	grid-row-end: 40;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text1281512 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.6666666666666665vw;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 8;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text273585 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 56;
	grid-row-start: 46;
	grid-row-end: 59;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text273586 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 56;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text1281501 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 6;
	grid-column-end: 44;
	grid-row-start: 25;
	grid-row-end: 47;
	opacity: 40.00000059604645%;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container1281537 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 4;
	grid-column-end: 62;
	grid-row-start: 7;
	grid-row-end: 59;
}


.container273588 {
	grid-column-start: 18;
	grid-column-end: 29;
	grid-row-start: 1;
	grid-row-end: 50;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text273589 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 31;
	grid-row-start: 3;
	grid-row-end: 10;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container273590 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 19;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text273591 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 4;
	grid-row-end: 24;
	display: flex;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text273592 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 36;
	grid-row-end: 44;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text273593 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 62;
	grid-row-start: 56;
	grid-row-end: 62;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container273594 {
	grid-column-start: 32;
	grid-column-end: 40;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text273595 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 45;
	grid-row-start: 3;
	grid-row-end: 7;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container273596 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 15;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text273597 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 51;
	grid-row-start: 3;
	grid-row-end: 8;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text273598 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 16;
	grid-row-end: 23;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text273599 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 20;
	grid-row-start: 31;
	grid-row-end: 35;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2735100 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 33;
	grid-row-start: 45;
	grid-row-end: 49;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2735101 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 22;
	grid-row-start: 59;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2735102 {
	grid-column-start: 43;
	grid-column-end: 50;
	grid-row-start: 1;
	grid-row-end: 54;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2735103 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 60;
	grid-row-start: 3;
	grid-row-end: 9;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2735104 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 18;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2735105 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 4;
	grid-row-end: 11;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2735106 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 63;
	grid-row-start: 21;
	grid-row-end: 26;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2735107 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 20;
	grid-row-start: 40;
	grid-row-end: 46;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2735108 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 39;
	grid-row-start: 57;
	grid-row-end: 62;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2735109 {
	grid-column-start: 54;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 58;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2735110 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 50;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2735111 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 49;
	grid-row-start: 3;
	grid-row-end: 11;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2735112 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 22;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2735113 {
	font-style: Medium;
	font-weight: 500;
	font-size: 0.8333333333333333vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 64;
	grid-row-start: 3;
	grid-row-end: 10;
	opacity: 69.9999988079071%;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2735114 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 16;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container1271475 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}


.container2735116 {
	grid-column-start: 29;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container1251461 {
	grid-column-start: 2;
	grid-column-end: 64;
	grid-row-start: 8;
	grid-row-end: 58;
	border-radius: 4.0px;
}

.container1311480 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 59;
	grid-column-end: 61;
	grid-row-start: 36;
	grid-row-end: 39;
}

.container1311483 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 58;
	grid-column-end: 60;
	grid-row-start: 35;
	grid-row-end: 43;
}

.container1311487 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 56;
	grid-column-end: 58;
	grid-row-start: 36;
	grid-row-end: 38;
}

.container1311512 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 58;
	grid-column-end: 60;
	grid-row-start: 37;
	grid-row-end: 42;
}

.container1251462 {
	grid-column-start: 2;
	grid-column-end: 64;
	grid-row-start: 5;
	grid-row-end: 61;
	border-radius: 4.0px;
}


.container2735119 {
	grid-column-start: 1;
	grid-column-end: 56;
	grid-row-start: 58;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container1421612 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 20;
	grid-column-end: 49;
	grid-row-start: 9;
	grid-row-end: 57;
}


.container1421608 {
	grid-column-start: 1;
	grid-column-end: 61;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container1421609 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}

.container1421610 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 7;
	grid-column-end: 65;
	grid-row-start: 12;
	grid-row-end: 56;
}


.container1421637 {
	grid-column-start: 7;
	grid-column-end: 60;
	grid-row-start: 7;
	grid-row-end: 59;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container1421638 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}

.container1421639 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 17;
	grid-column-end: 49;
	grid-row-start: 17;
	grid-row-end: 48;
}

.container1421640 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 48;
	grid-column-end: 56;
	grid-row-start: 12;
	grid-row-end: 19;
}

.container1421660 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 9;
	grid-column-end: 57;
	grid-row-start: 9;
	grid-row-end: 56;
}

