
.component2735117 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:31;
  margin:0;
  padding:0;
  background-color:rgba(3.000000058673322,4.000000236555934,6.000000117346644,1.0);

}
  
.grid-item-2735117 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container1251461 {
	grid-column-start: 2;
	grid-column-end: 64;
	grid-row-start: 8;
	grid-row-end: 58;
	border-radius: 4.0px;
}

.container1311480 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 59;
	grid-column-end: 61;
	grid-row-start: 36;
	grid-row-end: 39;
}

.container1311483 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 58;
	grid-column-end: 60;
	grid-row-start: 35;
	grid-row-end: 43;
}

.container1311487 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 56;
	grid-column-end: 58;
	grid-row-start: 36;
	grid-row-end: 38;
}

.container1311512 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 58;
	grid-column-end: 60;
	grid-row-start: 37;
	grid-row-end: 42;
}

