
.component2735120 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:11;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2735120 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container1421612 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 20;
	grid-column-end: 49;
	grid-row-start: 9;
	grid-row-end: 57;
}

