@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792812 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:34;
  grid-column-end:47;
  grid-row-start:75;
  grid-row-end:82;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-28792812 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component2879506 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:17;
  grid-column-end:33;
  grid-row-start:1;
  grid-row-end:60;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879506 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  