@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component28792831 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:11;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  box-shadow: 0px 1px 13px 0px rgba(0.0,0.0,0.0,0.05000000074505806);
  background-color:rgba(219.0000021457672,68.00000354647636,68.00000354647636,1.0);

  border-radius: 4.0px;
}
  
.grid-item-28792831 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  