@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component28792898 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:55;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  box-shadow: 0px 1px 13px 0px rgba(0.0,0.0,0.0,0.05000000074505806);
  background-color:rgba(219.0000021457672,68.00000354647636,68.00000354647636,1.0);

  border-radius: 4.0px;
}
  
.grid-item-28792898 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text28792899 {
	font-style: Regular;
	font-weight: 400;
	font-size: 14.545454545454545px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 17;
	grid-column-end: 50;
	grid-row-start: 44;
	grid-row-end: 48;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container28792900 {
	grid-column-start: 24;
	grid-column-end: 43;
	grid-row-start: 15;
	grid-row-end: 36;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container28792901 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}

.container28792902 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 28;
	grid-row-start: 35;
	grid-row-end: 56;
}

.container28792903 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 40;
	grid-column-end: 57;
	grid-row-start: 35;
	grid-row-end: 56;
}

.container28792904 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 57;
	grid-row-start: 11;
	grid-row-end: 43;
}

