
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879907 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:58;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879907 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879904 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:58;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879904 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component2879896 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:45;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879896 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container35212 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 17;
	grid-column-end: 52;
	grid-row-start: 22;
	grid-row-end: 43;
}

.container35212 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 22;
	grid-column-end: 44;
	grid-row-start: 15;
	grid-row-end: 49;
}

