@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 9.984375px);

  background-color:rgba(255.0,255.0,255.0,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container28792083 {
	grid-column-start: 7;
	grid-column-end: 14;
	grid-row-start: 23;
	grid-row-end: 25;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text28792084 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 2;
	grid-column-end: 22;
	grid-row-start: 17;
	grid-row-end: 47;
	opacity: 50.0%;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.line28792085 {
    grid-column-start: 27;
    grid-column-end: 31;
    grid-row-start: 15;
    grid-row-end: 52;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(0.0,0.0,0.0,0.5);
	transform: rotate(2.042918248773028rad);
	display: block;
	    border: solid;
    border-color: rgba(0.0,0.0,0.0,1.0);
    border-width: 1.0px;
}
.text28792086 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 36;
	grid-column-end: 65;
	grid-row-start: 15;
	grid-row-end: 47;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.line28792087 {
    grid-column-start: 76;
    grid-column-end: 65;
    grid-row-start: 15;
    grid-row-end: 51;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(0.0,0.0,0.0,1.0);
	transform: rotate(2.042918248773028rad);
	display: none;
	    border: solid;
    border-color: rgba(0.0,0.0,0.0,1.0);
    border-width: 1.0px;
}
.text28792088 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 84;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: none;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.line28792089 {
    grid-column-start: 116;
    grid-column-end: 65;
    grid-row-start: 15;
    grid-row-end: 51;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(0.0,0.0,0.0,1.0);
	transform: rotate(2.042918248773028rad);
	display: none;
	    border: solid;
    border-color: rgba(0.0,0.0,0.0,1.0);
    border-width: 1.0px;
}
.text28792090 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 125;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: none;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.line28792091 {
    grid-column-start: 157;
    grid-column-end: 65;
    grid-row-start: 15;
    grid-row-end: 51;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(0.0,0.0,0.0,1.0);
	transform: rotate(2.042918248773028rad);
	display: none;
	    border: solid;
    border-color: rgba(0.0,0.0,0.0,1.0);
    border-width: 1.0px;
}
.text28792092 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 165;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: none;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container28792093 {
	grid-column-start: 15;
	grid-column-end: 53;
	grid-row-start: 39;
	grid-row-end: 57;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text28792094 {
	font-style: Medium;
	font-weight: 500;
	font-size: 7.638888888888888vw;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 115px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 7;
	grid-row-end: 36;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text28792095 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 17;
	grid-column-end: 51;
	grid-row-start: 58;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container28792096 {
	background-color: rgba(219.0000021457672,68.00000354647636,68.00000354647636,1.0);
	border-radius: 4.0px;
	grid-column-start: 26;
	grid-column-end: 38;
	grid-row-start: 65;
	grid-row-end: 71;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text28792097 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 13;
	grid-column-end: 53;
	grid-row-start: 26;
	grid-row-end: 45;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879890 {
	grid-column-start: 21;
	grid-column-end: 60;
	grid-row-start: 17;
	grid-row-end: 49;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879891 {
	grid-column-start: 1;
	grid-column-end: 43;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879892 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 57;
	grid-row-start: 21;
	grid-row-end: 59;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879893 {
	font-style: SemiBold;
	font-weight: 600;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 57;
	grid-column-end: 65;
	grid-row-start: 19;
	grid-row-end: 56;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container2879894 {
	grid-column-start: 59;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879895 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 41;
	grid-row-start: 17;
	grid-row-end: 55;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container35212 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 17;
	grid-column-end: 52;
	grid-row-start: 22;
	grid-row-end: 43;
}


.line2879884 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(0.0,0.0,0.0,1.0);
	transform: rotate(3.141592653589793rad);
	display: block;
	opacity: 30.000001192092896%;
	    border: solid;
    border-color: rgba(0.0,0.0,0.0,1.0);
    border-width: 0.5px;
}
.container2879855 {
	grid-column-start: 1;
	grid-column-end: 39;
	grid-row-start: 13;
	grid-row-end: 53;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879856 {
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879857 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.6666666666666665vw;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 8;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879858 {
	grid-column-start: 29;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879859 {
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879860 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 11;
	grid-column-end: 56;
	grid-row-start: 19;
	grid-row-end: 49;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container2879861 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 62;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.line2879862 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(0.0,0.0,0.0,1.0);
	display: block;
	    border: solid;
    border-color: rgba(0.0,0.0,0.0,1.0);
    border-width: 1.0px;
}
.container2879863 {
	background-color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 20;
	grid-column-end: 32;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879864 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 19;
	grid-row-end: 50;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container2879865 {
	grid-column-start: 39;
	grid-column-end: 48;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879866 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 17;
	grid-row-end: 49;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container2879867 {
	grid-column-start: 55;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879868 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 17;
	grid-row-end: 61;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container2879869 {
	grid-column-start: 46;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879870 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879872 {
	grid-column-start: 50;
	grid-column-end: 57;
	grid-row-start: 6;
	grid-row-end: 60;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879873 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 55;
	grid-row-start: 13;
	grid-row-end: 52;
}


.container2879874 {
	grid-column-start: 59;
	grid-column-end: 65;
	grid-row-start: 6;
	grid-row-end: 60;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879875 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879876 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 19;
	grid-column-end: 27;
	grid-row-start: 49;
	grid-row-end: 56;
}

.container2879877 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 47;
	grid-column-end: 55;
	grid-row-start: 49;
	grid-row-end: 56;
}

.container2879878 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 5;
	grid-column-end: 55;
	grid-row-start: 9;
	grid-row-end: 46;
}

.container2879879 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 15;
	grid-column-end: 59;
	grid-row-start: 13;
	grid-row-end: 36;
}


.container2879880 {
	grid-column-start: 19;
	grid-column-end: 26;
	grid-row-start: 1;
	grid-row-end: 55;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879881 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 15;
	grid-column-end: 50;
	grid-row-start: 39;
	grid-row-end: 55;
}

.container2879882 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 25;
	grid-column-end: 44;
	grid-row-start: 11;
	grid-row-end: 29;
}


.container2879780 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 56;
	grid-row-end: 62;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879781 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 3;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.line2879782 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(255.0,255.0,255.0,1.0);
	display: block;
	opacity: 40.00000059604645%;
	    border: solid;
    border-color: rgba(255.0,255.0,255.0,1.0);
    border-width: 1.0px;
}
.container2879783 {
	grid-column-start: 26;
	grid-column-end: 42;
	grid-row-start: 28;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879784 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879785 {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 6;
	grid-row-end: 59;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879786 {
	grid-column-start: 4;
	grid-column-end: 63;
	grid-row-start: 4;
	grid-row-end: 62;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879787 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}

.container2879788 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 19;
	grid-column-end: 46;
	grid-row-start: 19;
	grid-row-end: 48;
}


.text2879789 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 65;
	grid-row-start: 17;
	grid-row-end: 61;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879790 {
	grid-column-start: 7;
	grid-column-end: 60;
	grid-row-start: 13;
	grid-row-end: 47;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879791 {
	grid-column-start: 1;
	grid-column-end: 14;
	grid-row-start: 1;
	grid-row-end: 54;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879792 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879793 {
	grid-column-start: 1;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 26;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879794 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 21;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879795 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.6666666666666665vw;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 8;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879796 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 56;
	grid-row-start: 46;
	grid-row-end: 59;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879797 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 62;
	grid-row-start: 36;
	grid-row-end: 41;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879799 {
	grid-column-start: 18;
	grid-column-end: 29;
	grid-row-start: 1;
	grid-row-end: 50;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879800 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 31;
	grid-row-start: 3;
	grid-row-end: 10;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879801 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 19;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879802 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 4;
	grid-row-end: 24;
	display: flex;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879803 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 36;
	grid-row-end: 44;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879804 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 62;
	grid-row-start: 56;
	grid-row-end: 62;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879805 {
	grid-column-start: 32;
	grid-column-end: 40;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879806 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 45;
	grid-row-start: 3;
	grid-row-end: 7;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879807 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 15;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879808 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 51;
	grid-row-start: 3;
	grid-row-end: 8;
	display: flex;
	overflow-wrap: break-word;
	text-decoration: none;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879809 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 16;
	grid-row-end: 23;
	display: flex;
	overflow-wrap: break-word;
	text-decoration: none;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879810 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 20;
	grid-row-start: 31;
	grid-row-end: 35;
	display: flex;
	overflow-wrap: break-word;
	text-decoration: none;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879811 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 33;
	grid-row-start: 45;
	grid-row-end: 49;
	display: flex;
	overflow-wrap: break-word;
	text-decoration: none;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879812 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 22;
	grid-row-start: 59;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879813 {
	grid-column-start: 43;
	grid-column-end: 50;
	grid-row-start: 1;
	grid-row-end: 54;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879814 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 60;
	grid-row-start: 3;
	grid-row-end: 9;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879815 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 18;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879816 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 4;
	grid-row-end: 11;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879817 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 63;
	grid-row-start: 21;
	grid-row-end: 26;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879818 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 20;
	grid-row-start: 40;
	grid-row-end: 46;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text2879819 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.1111111111111112vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 39;
	grid-row-start: 57;
	grid-row-end: 62;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879820 {
	grid-column-start: 54;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 58;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879821 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 50;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879822 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 49;
	grid-row-start: 3;
	grid-row-end: 11;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879823 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 22;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2879824 {
	font-style: Medium;
	font-weight: 500;
	font-size: 0.8333333333333333vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 64;
	grid-row-start: 3;
	grid-row-end: 10;
	opacity: 69.9999988079071%;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container2879825 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 16;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879826 {
	background-color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 1;
	grid-column-end: 28;
	grid-row-start: 3;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879827 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}


.container2879828 {
	grid-column-start: 29;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879829 {
	background-color: rgba(3.000000058673322,4.000000236555934,6.000000117346644,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 31;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879830 {
	grid-column-start: 2;
	grid-column-end: 64;
	grid-row-start: 8;
	grid-row-end: 58;
	border-radius: 4.0px;
}

.container2879831 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 59;
	grid-column-end: 61;
	grid-row-start: 36;
	grid-row-end: 39;
}

.container2879832 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 58;
	grid-column-end: 60;
	grid-row-start: 35;
	grid-row-end: 43;
}

.container2879833 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 56;
	grid-column-end: 58;
	grid-row-start: 36;
	grid-row-end: 38;
}

.container2879834 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 58;
	grid-column-end: 60;
	grid-row-start: 37;
	grid-row-end: 42;
}


.container2879835 {
	background-color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 35;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879836 {
	grid-column-start: 2;
	grid-column-end: 64;
	grid-row-start: 5;
	grid-row-end: 61;
	border-radius: 4.0px;
}


.container2879837 {
	grid-column-start: 1;
	grid-column-end: 56;
	grid-row-start: 58;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879838 {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879839 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 20;
	grid-column-end: 49;
	grid-row-start: 9;
	grid-row-end: 57;
}


.container2879840 {
	grid-column-start: 19;
	grid-column-end: 29;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879841 {
	grid-column-start: 1;
	grid-column-end: 61;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879842 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}

.container2879843 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 7;
	grid-column-end: 65;
	grid-row-start: 12;
	grid-row-end: 56;
}


.container2879844 {
	grid-column-start: 38;
	grid-column-end: 48;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2879845 {
	grid-column-start: 7;
	grid-column-end: 60;
	grid-row-start: 7;
	grid-row-end: 59;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879846 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}

.container2879847 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 17;
	grid-column-end: 49;
	grid-row-start: 17;
	grid-row-end: 48;
}

.container2879848 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 48;
	grid-column-end: 56;
	grid-row-start: 12;
	grid-row-end: 19;
}


.container2879849 {
	grid-column-start: 56;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2879850 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 9;
	grid-column-end: 57;
	grid-row-start: 9;
	grid-row-end: 56;
}

