@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component2879168 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:53;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879168 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component2879167 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:35;
  grid-column-end:48;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879167 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component2879166 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:18;
  grid-column-end:31;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879166 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component2879165 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:14;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2879165 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  