@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.component28792923 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:24;
  grid-column-end:43;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-28792923 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component28792923 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:24;
  grid-column-end:43;
  grid-row-start:1;
  grid-row-end:64;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-28792923 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.ellipse1201415 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 50%);
    height: 80.0px;
    width: 80.0px;
  background-color:rgba(47.0000009983778,46.000001057982445,48.000000938773155,1.0);
	display: grid;
	opacity: 30.000001192092896%;
	  border: 0;}
.ellipse1201416 {
    grid-column-start: 1;
    grid-column-end: 64;
    grid-row-start: 10;
    grid-row-end: 56;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 50%);
    height: 58.0px;
    width: 58.0px;
  background-color:rgba(0.0,0.0,0.0,1.0);
	display: block;
	  border: 0;}.container1201362 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 6;
	grid-column-end: 61;
	grid-row-start: 11;
	grid-row-end: 56;
}


.container28792932 {
	grid-column-start: 3;
	grid-column-end: 64;
	grid-row-start: 42;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text28792933 {
	font-style: SemiBold;
	font-weight: 600;
	font-size: 1.3888888888888888vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 3;
	grid-row-end: 28;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text28792934 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9722222222222222vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 5;
	grid-column-end: 62;
	grid-row-start: 43;
	grid-row-end: 62;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

