@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792779 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:4;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28792779 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792577 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:6;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28792577 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792540 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:3;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28792540 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792397 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:4;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28792397 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792368 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:4;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28792368 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792183 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28792183 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792098 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:6;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28792098 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28792078 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:4;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28792078 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28791861 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28791861 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28791845 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28791845 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component28791342 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:2;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-28791342 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.component2879565 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:2;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

}
  
.grid-item-2879565 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  