
.component285824 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:7;
  grid-column-end:17;
  grid-row-start:24;
  grid-row-end:30;
  margin:0;
  padding:0;
  background-color:rgba(120.14423310756683,73.01074147224426,73.01074147224426,1.0);

}
  
.grid-item-285824 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  