@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.component22504 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:32;
  grid-column-end:35;
  grid-row-start:70;
  grid-row-end:75;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,1.0);

  border-radius: 20.0px;
}
  
.grid-item-22504 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  