@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.component31862963 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:47;
  grid-row-start:-120;
  grid-row-end:-88;
  margin:0;
  padding:0;
  box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
  background:linear-gradient(90.0deg, rgba(204.76146697998047,212.29725301265717,255.0,255.0) 0%, rgba(122.8568771481514,127.37835332751274,153.00000607967377,255.0) 100%);
  border-radius: 15.0px;
  z-index: 2
}
  
.grid-item-31862963 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  