
.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 28.90625px);

  background-color:rgba(185.3928878903389,181.33856624364853,229.9903804063797,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.scheckbox30531617 {
    grid-column-start: 7;
    grid-column-end: 15;
    grid-row-start: 29;
    grid-row-end: 39;
    margin:5px;
    --p-checkbox-background:  rgba(44.62501063942909,44.62501063942909,44.62501063942909,1.0);
    --p-checkbox-border-radius:4.0px;
  }

  .labelscheckbox30531617 {
    color: rgba(0.0,0.0,0.0,1.0);
    margin-left: 5px;
    position: relative;
    top:3px;
  }
  
.sdatepicker30531630 {
    grid-column-start: 42;
    grid-column-end: 54;
    grid-row-start: 7;
    grid-row-end: 9;
}

:deep(.sdatepicker30531630 .p-datepicker-input){
	background-color: rgba(207.05926448106766,209.26676362752914,223.61540168523788,1.0);
}
 
 :deep(.sdatepicker30531630 .p-datepicker-dropdown .p-icon){
	color: rgba(0.0,0.0,0.0,1.0);
}

:deep(.sdatepicker30531630 .p-datepicker-dropdown){
	background-color:rgba(138.91505867242813,120.17585501074791,222.38943547010422,1.0);
}
  
.svueselect30531636 {
    grid-column-start: 42;
    grid-column-end: 50;
    grid-row-start: 18;
    grid-row-end: 20;
}

div:deep(.svueselect30531636 .v-input__control) {
  display: flex;
  grid-area: control;
  min-width: 300px;
  background-color:rgba(255.0,255.0,255.0,1.0);
  color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
  border-radius: 8.0px;
}

div:deep(.svueselect30531636 .v-field__outline) {
  --v-field-border-width:0px;
  --v-field-border-opacity:0;
}

  
.form30531700 {
    grid-column-start: 5;
    grid-column-end: 20;
    grid-row-start: 57;
    grid-row-end: 73;
  }
 
  .submitbtnform30531700 {
    background-color: rgba(25.99038116633892,25.99038116633892,25.99038116633892,1.0);
    border-radius: 8px;
    width:200px;
    height:50px;
    margin-top: 10px;
    position: relative;
    left:  87.3076923076923px;
  }
.inputform30531700 .p-inputtext{ 
  --p-inputtext-background:rgba(218.35885494947433,217.515786588192,219.20192331075668,1.0);
  width: 349.2307692307692px;
  color: rgba(87.77883142232895,87.77883142232895,87.77883142232895,1.0);
}

.ssearchinputfilter30531709 {
    position: relative;  
    display: flex;       
    grid-column-start: 6;
    grid-column-end: 16;
    grid-row-start: 47;
    grid-row-end: 50;
}
.ssearchinputfilter30531709 .p-inputtext{
   --p-inputtext-background: rgba(223.20236384868622,223.94592314958572,238.81730675697327,1.0);
   --p-inputtext-color: rgba({'r': 0.07999999821186066, 'g': 0.07999999821186066, 'b': 0.07999999821186066, 'a': 1.0});
   --p-inputtext-border-radius:4.0px;
    padding-left: 35px; 
}


.ssearchinputfilter30531709 .pi {
  position: absolute;
  left: 10px;
  transform: translateY(10%);
  pointer-events: none;
}
  
.srating30531712 {
    grid-column-start: 6;
    grid-column-end: 14;
    grid-row-start: 11;
    grid-row-end: 13;
	  color: rgba(255.0,202.9374584555626,69.0624949336052,1.0);
}
  
.stable30531779 {
    grid-column-start: 6;
    grid-column-end: 47;
    grid-row-start: 97;
    grid-row-end: 126;
    --p-datatable-row-background: rgba(205.48751682043076,203.26141387224197,203.26141387224197,1.0);
    --p-datatable-body-cell-border-color: rgba(205.48751682043076,203.26141387224197,203.26141387224197,1.0);
    --p-datatable-row-color: rgba(0.0,0.0,0.0,1.0);
}
:deep(.stable30531779 .p-datatable-header-cell){
  background:rgba(64.38749179244041,64.38749179244041,64.38749179244041,1.0);
  color:rgba(255.0,255.0,255.0,1.0);
}


.srating30531845 {
    grid-column-start: 6;
    grid-column-end: 14;
    grid-row-start: 7;
    grid-row-end: 9;
	  color: rgba(255.0,202.9374584555626,69.0624949336052,1.0);
}
  
.sslider30631926 {
    grid-column-start: 44;
    grid-column-end: 53;
    grid-row-start: 31;
    grid-row-end: 32;
    --p-slider-track-background:  rgba(230.00000149011612,224.000001847744,246.0000005364418,1.0);
}

div:deep(.sslider30631926 .p-slider-range){
    --p-slider-range-background:  rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
}
 
div:deep(.sslider30631926 .p-slider-handle){
    --p-slider-handle-content-background:  rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
    --p-slider-handle-content-hover-background: rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
}

.scheckbox30752404 {
    grid-column-start: 16;
    grid-column-end: 24;
    grid-row-start: 29;
    grid-row-end: 39;
    margin:5px;
    --p-checkbox-background:  rgba(255.0,255.0,255.0,1.0);
    --p-checkbox-border-radius:4.0px;
  }

  .labelscheckbox30752404 {
    color: rgba(0.0,0.0,0.0,1.0);
    margin-left: 5px;
    position: relative;
    top:3px;
  }
  
.scheckbox30752417 {
    grid-column-start: 24;
    grid-column-end: 33;
    grid-row-start: 28;
    grid-row-end: 32;
    margin:5px;
    --p-checkbox-background:  rgba(255.0,255.0,255.0,1.0);
    --p-checkbox-border-radius:4.0px;
  }

  .labelscheckbox30752417 {
    color: rgba(71.53081968426704,15.692367553710938,255.0,1.0);
    margin-left: 5px;
    position: relative;
    top:3px;
  }
  
.ssearchinputfilter30752429 {
    position: relative;  
    display: flex;       
    grid-column-start: 18;
    grid-column-end: 28;
    grid-row-start: 47;
    grid-row-end: 50;
}
.ssearchinputfilter30752429 .p-inputtext{
   --p-inputtext-background: rgba(6.000000117346644,7.000000057742,27.000000290572643,1.0);
   --p-inputtext-color: rgba({'r': 0.8549999594688416, 'g': 0.8549999594688416, 'b': 0.8549999594688416, 'a': 1.0});
   --p-inputtext-border-radius:4.0px;
    padding-left: 35px; 
}


.ssearchinputfilter30752429 .pi {
  position: absolute;
  left: 10px;
  transform: translateY(10%);
  pointer-events: none;
}
  
.sslider30752577 {
    grid-column-start: 44;
    grid-column-end: 53;
    grid-row-start: 35;
    grid-row-end: 36;
    --p-slider-track-background:  rgba(230.00000149011612,224.000001847744,246.0000005364418,1.0);
}

div:deep(.sslider30752577 .p-slider-range){
    --p-slider-range-background:  rgba(43.695804700255394,42.64462150633335,46.58655658364296,1.0);
}
 
div:deep(.sslider30752577 .p-slider-handle){
    --p-slider-handle-content-background:  rgba(43.695804700255394,42.64462150633335,46.58655658364296,1.0);
    --p-slider-handle-content-hover-background: rgba(43.695804700255394,42.64462150633335,46.58655658364296,1.0);
}

.form30753041 {
    grid-column-start: 44;
    grid-column-end: 59;
    grid-row-start: 53;
    grid-row-end: 87;
  }
 
  .submitbtnform30753041 {
    background-color: rgba(219.0000021457672,68.00000354647636,68.00000354647636,1.0);
    border-radius: 8px;
    width:200px;
    height:50px;
    margin-top: 10px;
    position: relative;
    left:  90.38461538461539px;
  }
.inputform30753041 .p-inputtext{ 
  --p-inputtext-background:rgba(245.00000059604645,245.00000059604645,245.00000059604645,1.0);
  width: 361.53846153846155px;
  color: rgba(201.23750567436218,201.23750567436218,201.23750567436218,1.0);
}
.label30753041{
  font-size: 22.0px;
  color: rgba(91.70192331075668,91.70192331075668,91.70192331075668,1.0);
}
    
.form30753072 {
    grid-column-start: 24;
    grid-column-end: 39;
    grid-row-start: 58;
    grid-row-end: 72;
  }
 
  .submitbtnform30753072 {
    background-color: rgba(106.88748925924301,105.37329331040382,105.37329331040382,1.0);
    border-radius: 8px;
    width:200px;
    height:50px;
    margin-top: 10px;
    position: relative;
    left:  87.3076923076923px;
  }
.inputform30753072 .p-inputtext{ 
  --p-inputtext-background:rgba(43.00000123679638,42.000001296401024,44.000001177191734,1.0);
  width: 349.2307692307692px;
  color: rgba(201.23750567436218,201.23750567436218,201.23750567436218,1.0);
}

.srating31052322 {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 14;
    grid-row-end: 16;
	  color: rgba(255.0,202.9374584555626,69.0624949336052,1.0);
}
  
.srating31052363 {
    grid-column-start: 6;
    grid-column-end: 14;
    grid-row-start: 19;
    grid-row-end: 21;
	  color: rgba(255.0,97.74999797344208,0.0,1.0);
}
  
.srating31052404 {
    grid-column-start: 16;
    grid-column-end: 24;
    grid-row-start: 7;
    grid-row-end: 9;
	  color: rgba(255.0,202.9374584555626,69.0624949336052,1.0);
}
  
.srating31052445 {
    grid-column-start: 18;
    grid-column-end: 26;
    grid-row-start: 15;
    grid-row-end: 17;
	  color: rgba(33.97681541740894,81.08520179986954,191.00479155778885,1.0);
}
  