
.component30752492 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:None;
  grid-column-end:None;
  grid-row-start:None;
  grid-row-end:None;
  margin:0;
  padding:0;
  background-color:rgba(255.0,255.0,255.0,0);

}
  
.grid-item-30752492 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.component3052602 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:None;
  grid-column-end:None;
  grid-row-start:None;
  grid-row-end:None;
  margin:0;
  padding:0;
  background-color:rgba(255.0,255.0,255.0,0);

}
  
.grid-item-3052602 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container3052603 {
	background-color: rgba(230.00000149011612,224.000001847744,246.0000005364418,1.0);
	border-radius: 2.0px;
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3052604 {
	background-color: rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
	border-radius: 2.0px;
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3052605 {
	background-color: rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
	grid-column-start: 59;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.ellipse3052606 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 50%);
    height: 30.0px;
    width: 30.0px;
  background-color:rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
	display: block;
	    border: solid;
    border-color: rgba(88.72808888554573,35.6744921207428,234.62549328804016,1.0);
    border-width: 1.0px;
}
.container3052607 {
	grid-column-start: 1;
	grid-column-end: 63;
	grid-row-start: 5;
	grid-row-end: 56;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.rectangle3052608 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 24.0px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.container3052609 {
	background-color: rgba(196.00000351667404,196.00000351667404,196.00000351667404,1.0);
	grid-column-start: 4;
	grid-column-end: 64;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.rectangle3052610 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052611 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052612 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052613 {
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052614 {
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052615 {
    grid-column-start: 18;
    grid-column-end: 22;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052616 {
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052617 {
    grid-column-start: 25;
    grid-column-end: 29;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052618 {
    grid-column-start: 28;
    grid-column-end: 32;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052619 {
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052620 {
    grid-column-start: 35;
    grid-column-end: 39;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052621 {
    grid-column-start: 38;
    grid-column-end: 42;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052622 {
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052623 {
    grid-column-start: 45;
    grid-column-end: 49;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052624 {
    grid-column-start: 48;
    grid-column-end: 52;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052625 {
    grid-column-start: 52;
    grid-column-end: 56;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052626 {
    grid-column-start: 55;
    grid-column-end: 59;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052627 {
    grid-column-start: 58;
    grid-column-end: 62;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052628 {
    grid-column-start: 62;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle3052629 {
    grid-column-start: 62;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 24.0px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.container30752493 {
	background-color: rgba(230.00000149011612,224.000001847744,246.0000005364418,1.0);
	border-radius: 2.0px;
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container30752494 {
	background-color: rgba(43.695804700255394,42.64462150633335,46.58655658364296,1.0);
	border-radius: 2.0px;
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container30752495 {
	background-color: rgba(43.695804700255394,42.64462150633335,46.58655658364296,1.0);
	grid-column-start: 59;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.ellipse30752496 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 50%);
    height: 30.0px;
    width: 30.0px;
  background-color:rgba(43.695804700255394,42.64462150633335,46.58655658364296,1.0);
	display: block;
	    border: solid;
    border-color: rgba(43.695804700255394,42.64462150633335,46.58655658364296,1.0);
    border-width: 1.0px;
}
.container30752497 {
	grid-column-start: 1;
	grid-column-end: 63;
	grid-row-start: 5;
	grid-row-end: 56;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.rectangle30752498 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 24.0px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.container30752499 {
	background-color: rgba(196.00000351667404,196.00000351667404,196.00000351667404,1.0);
	grid-column-start: 4;
	grid-column-end: 64;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.rectangle30752500 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752501 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752502 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752503 {
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752504 {
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752505 {
    grid-column-start: 18;
    grid-column-end: 22;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752506 {
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752507 {
    grid-column-start: 25;
    grid-column-end: 29;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752508 {
    grid-column-start: 28;
    grid-column-end: 32;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752509 {
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752510 {
    grid-column-start: 35;
    grid-column-end: 39;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752511 {
    grid-column-start: 38;
    grid-column-end: 42;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752512 {
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752513 {
    grid-column-start: 45;
    grid-column-end: 49;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752514 {
    grid-column-start: 48;
    grid-column-end: 52;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752515 {
    grid-column-start: 52;
    grid-column-end: 56;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752516 {
    grid-column-start: 55;
    grid-column-end: 59;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752517 {
    grid-column-start: 58;
    grid-column-end: 62;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752518 {
    grid-column-start: 62;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 14.526315689086914px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}
.rectangle30752519 {
    grid-column-start: 62;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 24.0px;
    width: 24.0px;
  background-color:rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.0);
	display: block;
	  border: 0;}