@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.component2280108 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:None;
  grid-column-end:None;
  grid-row-start:None;
  grid-row-end:None;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-2280108 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container411389 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 6;
	grid-column-end: 60;
	grid-row-start: 6;
	grid-row-end: 59;
}


.text207166 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 14;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text207164 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 1;
	grid-column-end: 57;
	grid-row-start: 1;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text207168 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 1;
	grid-column-end: 57;
	grid-row-start: 1;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text207170 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 1;
	grid-column-end: 57;
	grid-row-start: 1;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text207172 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 1;
	grid-column-end: 57;
	grid-row-start: 1;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text207174 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 1;
	grid-column-end: 57;
	grid-row-start: 1;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container429116 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 14;
	grid-column-end: 52;
	grid-row-start: 20;
	grid-row-end: 41;
}


.container2280110 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 12;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text207164 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 14;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container429112 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 14;
	grid-column-end: 52;
	grid-row-start: 25;
	grid-row-end: 46;
}


.text207168 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 14;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text207170 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 14;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text207172 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 14;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text207174 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(49.32124704122543,48.94140422344208,67.93359830975533,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 14;
	grid-row-end: 58;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.rectangle2280112 {
    grid-column-start: 1;
    grid-column-end: 65;
    grid-row-start: -200;
    grid-row-end: 64;
    grid-template-columns:repeat(64,1fr);
    grid-template-rows:repeat(64,1fr);
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 1911.0px;
    width: 3297.0px;
  display: grid;
	  border: 0;}