
.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 18.625px);

  background-color:rgba(255.0,255.0,255.0,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container20011187 {
	background-color: rgba(203.29143226146698,201.10507518053055,244.83543902635574,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 25;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container20011188 {
	background-color: rgba(80.59062793850899,80.59062793850899,80.59062793850899,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 105;
	grid-row-end:  span 128;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container20011189 {
	background-color: rgba(255.0,249.2270913720131,81.81249797344208,1.0);
	grid-column-start: 1;
	grid-column-end: 17;
	grid-row-start: 25;
	grid-row-end: 105;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container20011190 {
	background-color: rgba(149.74607348442078,114.66141611337662,255.0,1.0);
	grid-column-start: 50;
	grid-column-end: 65;
	grid-row-start: 25;
	grid-row-end: 105;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container20011191 {
	background-color: rgba(255.0,151.26448720693588,151.26448720693588,1.0);
	grid-column-start: 16;
	grid-column-end: 52;
	grid-row-start: 25;
	grid-row-end: 105;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container20011192 {
	background-color: rgba(187.8676950931549,204.65080171823502,255.0,1.0);
	border-radius: 30.0px;
	grid-column-start: 3;
	grid-column-end: 64;
	grid-row-start: 26;
	grid-row-end: 44;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container20011193 {
	background-color: rgba(187.8676950931549,204.65080171823502,255.0,1.0);
	border-radius: 30.0px;
	grid-column-start: 3;
	grid-column-end: 64;
	grid-row-start: 46;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

