@import url("https://fonts.googleapis.com/css2?family=Actor:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya Sans SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya Sans:wght@500&display=swap");

.component3367163 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:5;
  grid-row-end:29;
  margin:0;
  padding:0;
  background-color:rgba(0.0,0.0,0.0,0.0);

}
  
.grid-item-3367163 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container3367304 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
}


.container3367305 {
	background: linear-gradient(-1.0675375676783005e-06deg, rgba(0.0,0.0,0.0,255.0) 12%, rgba(153.00000607967377,153.00000607967377,153.00000607967377,0.0) 100%, rgba(89.25176918506622,89.25176918506622,89.25176918506622,151.6561397910118) 100%);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367306 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Actor', sans-serif;
	text-align: left;
	line-height: 19px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 7;
	grid-column-end: 13;
	grid-row-start: 20;
	grid-row-end: 21;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367307 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.974025974025974vw;
	font-family: 'Actor', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 4;
	grid-column-end: 14;
	grid-row-start: 16;
	grid-row-end: 17;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367308 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Actor', sans-serif;
	text-align: left;
	line-height: 19px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 20;
	grid-row-end: 22;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367309 {
	background-color: rgba(6.000000117346644,7.000000057742,27.000000290572643,1.0);
	border-radius: 40.0px;
	grid-column-start: 13;
	grid-column-end: 21;
	grid-row-start: 37;
	grid-row-end: 43;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367310 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.0389610389610389vw;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 21;
	grid-column-end: 56;
	grid-row-start: 27;
	grid-row-end: 38;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.regular_polygon3367311 {
    grid-column-start: 11;
    grid-column-end: 16;
    grid-row-start: 27;
    grid-row-end: 40;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    height: 12.1243896484375px;
    width: 10.5px;
  background-color:rgba(217.0000022649765,217.0000022649765,217.0000022649765,1.0);
	transform: rotate(1.5707963267948966rad);
	display: block;
	  border: 0;}
.container3367312 {
	background-color: rgba(5.644531091675162,6.690428769215941,26.56249936670065,1.0);
	box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
	border-radius: 40.0px;
	grid-column-start: 3;
	grid-column-end: 12;
	grid-row-start: 37;
	grid-row-end: 44;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367313 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.0389610389610389vw;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 15;
	grid-column-end: 60;
	grid-row-start: 24;
	grid-row-end: 34;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.regular_polygon3367314 {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 24;
    grid-row-end: 35;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    height: 12.1243896484375px;
    width: 10.5px;
  background-color:rgba(217.0000022649765,217.0000022649765,217.0000022649765,1.0);
	transform: rotate(1.5707963267948966rad);
	display: block;
	  border: 0;}
.text3367315 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.1688311688311688vw;
	font-family: 'Alegreya Sans', sans-serif;
	text-align: left;
	line-height: 22px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 4;
	grid-column-end: 30;
	grid-row-start: 31;
	grid-row-end: 35;
	display: flex;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367316 {
	font-style: Medium;
	font-weight: 500;
	font-size: 4.285714285714286vw;
	font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
	line-height: 50px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 4;
	grid-column-end: 14;
	grid-row-start: 24;
	grid-row-end: 29;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.star33681081 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 20;
    grid-row-end: 21;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
    height: 15.0px;
    width: 15.0px;
  background-color:rgba(255.0,202.9374584555626,69.0624949336052,1.0);
	display: block;
	  border: 0;}