@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya Sans SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 27.2890625px);

  background-color:rgba(0.0,0.0,0.0,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container3367318 {
	grid-column-start: 8;
	grid-column-end: 19;
	grid-row-start: 12;
	grid-row-end: 25;
	border-top-left-radius: 17.0px;
	border-top-right-radius: 17.0px;
}


.text3367319 {
	font-style: Bold;
	font-weight: 700;
	font-size: 2.3376623376623376vw;
	font-family: 'Lato', sans-serif;
	text-align: left;
	line-height: 43px;
	color: rgba(224.90000635385513,224.90000635385513,224.90000635385513,1.0);
	grid-column-start: 21;
	grid-column-end: 31;
	grid-row-start: 12;
	grid-row-end: 13;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367320 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Lato', sans-serif;
	text-align: left;
	line-height: 19px;
	color: rgba(224.90000635385513,224.90000635385513,224.90000635385513,1.0);
	grid-column-start: 21;
	grid-column-end: 46;
	grid-row-start: 14;
	grid-row-end: 16;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.rectangle3367321 {
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 18;
    grid-row-end: 21;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%,100% 0);
    height: 72.0px;
    width: 70.0px;
  background-color:rgba(24.4374842941761,24.4374842941761,24.4374842941761,1.0);
	display: grid;
	    border: solid;
    border-color: rgba(6.779634682461619,9.408228658139706,85.63748672604561,1.0);
    border-width: 1.0px;
}
.text3367322 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.6233766233766234vw;
	font-family: 'Lato', sans-serif;
	text-align: center;
	line-height: 30px;
	color: rgba(35.11119894683361,38.65053802728653,109.43750202655792,1.0);
	grid-column-start: 22;
	grid-column-end: 24;
	grid-row-start: 20;
	grid-row-end: 21;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.text3367323 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.2987012987012987vw;
	font-family: 'Lato', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(224.90000635385513,224.90000635385513,224.90000635385513,1.0);
	grid-column-start: 21;
	grid-column-end: 24;
	grid-row-start: 19;
	grid-row-end: 20;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container3367378 {
	background-color: rgba(214.62499290704727,214.62499290704727,214.62499290704727,1.0);
	box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
	border-radius: 11.0px;
	grid-column-start: 39;
	grid-column-end: 51;
	grid-row-start: 41;
	grid-row-end: 56;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367379 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(1.0625000554136932,1.0625000554136932,1.0625000554136932,1.0);
	grid-column-start: 12;
	grid-column-end: 55;
	grid-row-start: 22;
	grid-row-end: 35;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367380 {
	background-color: rgba(155.3188544511795,232.68750607967377,151.24687135219574,1.0);
	box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
	border-radius: 11.0px;
	grid-column-start: 17;
	grid-column-end: 29;
	grid-row-start: 41;
	grid-row-end: 56;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367381 {
	font-style: Medium;
	font-weight: 500;
	font-size: 10.909090909090908px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 12;
	grid-column-end: 53;
	grid-row-start: 23;
	grid-row-end: 35;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367382 {
	font-style: Medium;
	font-weight: 500;
	font-size: 14.545454545454545px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(246.71249270439148,246.71249270439148,246.71249270439148,1.0);
	grid-column-start: 8;
	grid-column-end: 58;
	grid-row-start: 25;
	grid-row-end: 30;
	display: flex;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.text3367383 {
	font-style: Bold;
	font-weight: 700;
	font-size: 29.999999999999996px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 50px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 15;
	grid-column-end: 51;
	grid-row-start: 12;
	grid-row-end: 20;
	display: flex;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container3367324 {
	background-color: rgba(6.000000117346644,7.000000057742,27.000000290572643,1.0);
	border-radius: 12.0px;
	grid-column-start: 26;
	grid-column-end: 35;
	grid-row-start: 19;
	grid-row-end: 21;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367325 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.2987012987012987vw;
	font-family: 'Lato', sans-serif;
	text-align: center;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 9;
	grid-column-end: 58;
	grid-row-start: 27;
	grid-row-end: 42;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container3367326 {
	background-color: rgba(6.000000117346644,7.000000057742,27.000000290572643,1.0);
	border-radius: 40.0px;
	grid-column-start: 17;
	grid-column-end: 25;
	grid-row-start: 27;
	grid-row-end: 29;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367327 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.0389610389610389vw;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 21;
	grid-column-end: 56;
	grid-row-start: 27;
	grid-row-end: 38;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.regular_polygon3367328 {
    grid-column-start: 11;
    grid-column-end: 16;
    grid-row-start: 27;
    grid-row-end: 40;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    height: 12.1243896484375px;
    width: 10.5px;
  background-color:rgba(217.0000022649765,217.0000022649765,217.0000022649765,1.0);
	transform: rotate(1.5707963267948966rad);
	display: block;
	  border: 0;}
.container3367329 {
	background-color: rgba(5.644531091675162,6.690428769215941,26.56249936670065,1.0);
	box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
	border-radius: 40.0px;
	grid-column-start: 8;
	grid-column-end: 17;
	grid-row-start: 27;
	grid-row-end: 29;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367330 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.0389610389610389vw;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 15;
	grid-column-end: 60;
	grid-row-start: 24;
	grid-row-end: 34;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.regular_polygon3367331 {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 24;
    grid-row-end: 35;
    grid-template-columns:None;
    grid-template-rows:None;
    aspect-ratio: 1;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    height: 12.1243896484375px;
    width: 10.5px;
  background-color:rgba(217.0000022649765,217.0000022649765,217.0000022649765,1.0);
	transform: rotate(1.5707963267948966rad);
	display: block;
	  border: 0;}
.text3367332 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.103896103896104vw;
	font-family: 'Lato', sans-serif;
	text-align: left;
	line-height: 20px;
	color: rgba(249.00000035762787,249.00000035762787,249.00000035762787,1.0);
	grid-column-start: 31;
	grid-column-end: 35;
	grid-row-start: 12;
	grid-row-end: 13;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367333 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.103896103896104vw;
	font-family: 'Lato', sans-serif;
	text-align: left;
	line-height: 20px;
	color: rgba(249.00000035762787,249.00000035762787,249.00000035762787,1.0);
	grid-column-start: 21;
	grid-column-end: 26;
	grid-row-start: 24;
	grid-row-end: 24;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367334 {
	background-color: rgba(91.26432359218597,94.48872417211533,100.9375025331974,1.0);
	box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
	border-radius: 20.0px;
	grid-column-start: 8;
	grid-column-end: 18;
	grid-row-start: 55;
	grid-row-end: 58;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367335 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.4285714285714286vw;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 7;
	grid-column-end: 61;
	grid-row-start: 24;
	grid-row-end: 42;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367336 {
	font-style: Regular;
	font-weight: 400;
	font-size: 2.0779220779220777vw;
	font-family: 'Abel', sans-serif;
	text-align: left;
	line-height: 41px;
	color: rgba(130.68749696016312,130.68749696016312,130.68749696016312,1.0);
	grid-column-start: 8;
	grid-column-end: 14;
	grid-row-start: 51;
	grid-row-end: 52;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367337 {
	font-style: Regular;
	font-weight: 400;
	font-size: 2.0779220779220777vw;
	font-family: 'Abel', sans-serif;
	text-align: left;
	line-height: 41px;
	color: rgba(130.68749696016312,130.68749696016312,130.68749696016312,1.0);
	grid-column-start: 8;
	grid-column-end: 17;
	grid-row-start: 75;
	grid-row-end: 76;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.line3367338 {
    grid-column-start: 8;
    grid-column-end: 51;
    grid-row-start: 54;
    grid-row-end: 54;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(208.46249878406525,208.46249878406525,208.46249878406525,1.0);
	display: block;
	    border: solid;
    border-color: rgba(208.46249878406525,208.46249878406525,208.46249878406525,1.0);
    border-width: 1.0px;
}
.line3367339 {
    grid-column-start: 8;
    grid-column-end: 51;
    grid-row-start: 77;
    grid-row-end: 77;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(208.46249878406525,208.46249878406525,208.46249878406525,1.0);
	display: block;
	    border: solid;
    border-color: rgba(208.46249878406525,208.46249878406525,208.46249878406525,1.0);
    border-width: 1.0px;
}
.container3367268 {
	grid-column-start: 6;
	grid-column-end: 31;
	grid-row-start: 14;
	grid-row-end: 43;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3367269 {
	grid-column-start: 1;
	grid-column-end: 15;
	grid-row-start: 1;
	grid-row-end: 9;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367270 {
	font-style: Bold;
	font-weight: 700;
	font-size: 1.5584415584415585vw;
	font-family: 'Inter', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 42;
	grid-row-start: 10;
	grid-row-end: 57;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367271 {
	grid-column-start: 24;
	grid-column-end: 44;
	grid-row-start: 1;
	grid-row-end: 52;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367272 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.2987012987012987vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 31;
	grid-row-start: 4;
	grid-row-end: 12;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367273 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 22;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367274 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 46;
	grid-row-start: 5;
	grid-row-end: 15;
	display: flex;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367275 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 29;
	grid-row-end: 39;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367276 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 62;
	grid-row-start: 54;
	grid-row-end: 61;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367277 {
	grid-column-start: 53;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367278 {
	font-style: Medium;
	font-weight: 500;
	font-size: 1.2987012987012987vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 28px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 60;
	grid-row-start: 3;
	grid-row-end: 9;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367279 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 18;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367280 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 65;
	grid-row-start: 4;
	grid-row-end: 11;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367281 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 63;
	grid-row-start: 21;
	grid-row-end: 26;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367282 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 2;
	grid-column-end: 20;
	grid-row-start: 40;
	grid-row-end: 46;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367283 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(249.6875050663948,249.6875050663948,249.6875050663948,1.0);
	grid-column-start: 1;
	grid-column-end: 39;
	grid-row-start: 57;
	grid-row-end: 62;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367284 {
	box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 56;
	grid-row-end: 63;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3367285 {
	grid-column-start: 26;
	grid-column-end: 41;
	grid-row-start: 22;
	grid-row-end: 54;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3367286 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367287 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.0389610389610389vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 8;
	grid-column-end: 59;
	grid-row-start: 17;
	grid-row-end: 61;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.line3367288 {
    grid-column-start: 3;
    grid-column-end: 64;
    grid-row-start: 55;
    grid-row-end: 55;
    background: None;
    height: 1px;
    padding: 0;
    background-color:rgba(255.0,255.0,255.0,1.0);
	display: block;
	opacity: 40.00000059604645%;
	    border: solid;
    border-color: rgba(255.0,255.0,255.0,1.0);
    border-width: 1.0px;
}
.container3367341 {
	grid-column-start: 8;
	grid-column-end: 35;
	grid-row-start: 78;
	grid-row-end: 91;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3367448 {
	grid-column-start: 5;
	grid-column-end: 63;
	grid-row-start: 3;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container3367449 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 54;
	border-radius: 8.0px;
}


.text3367450 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9090909090909091vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(224.000001847744,224.000001847744,224.000001847744,1.0);
	grid-column-start: 1;
	grid-column-end: 47;
	grid-row-start: 57;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container3367445 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 59;
	border-radius: 8.0px;
}


.text3367446 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9090909090909091vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(224.000001847744,224.000001847744,224.000001847744,1.0);
	grid-column-start: 1;
	grid-column-end: 34;
	grid-row-start: 62;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container3367442 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 54;
	border-radius: 8.0px;
}


.text3367443 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.9090909090909091vw;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 21px;
	color: rgba(224.000001847744,224.000001847744,224.000001847744,1.0);
	grid-column-start: 1;
	grid-column-end: 55;
	grid-row-start: 57;
	grid-row-end: 64;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367352 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: 'ABeeZee', sans-serif;
	text-align: left;
	line-height: 24px;
	color: rgba(130.68749696016312,130.68749696016312,130.68749696016312,1.0);
	grid-column-start: 10;
	grid-column-end: 18;
	grid-row-start: 13;
	grid-row-end: 20;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367353 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.7142857142857143vw;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	line-height: 18px;
	color: rgba(130.68749696016312,130.68749696016312,130.68749696016312,1.0);
	grid-column-start: 5;
	grid-column-end: 61;
	grid-row-start: 31;
	grid-row-end: 52;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container3367354 {
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 7;
	grid-row-end: 25;
}


.srating3367347 {
    grid-column-start: 21;
    grid-column-end: 26;
    grid-row-start: 22;
    grid-row-end: 23;
	  color: rgba(255.0,202.9374584555626,69.0624949336052,1.0);
}
  
.spaginator3367348 {
    grid-column-start: 13;
    grid-column-end: 27;
    grid-row-start: 72;
    grid-row-end: 73;
}
  :deep(.spaginator3367348 .v-pagination__item--is-active .v-btn) {
    background-color:  rgba(44.000001177191734,44.000001177191734,44.000001177191734,1.0) !important;
    color: rgba(245.00000059604645,245.00000059604645,245.00000059604645,1.0) !important;
    border-radius:8.0px;
  }

  :deep(.spaginator3367348 .v-pagination__item .v-btn) {
    color:  rgba(245.00000059604645,245.00000059604645,245.00000059604645,1.0);
  }

  
.svideo3367349 {
    grid-column-start: 8;
    grid-column-end: 48;
    grid-row-start: 31;
    grid-row-end: 49;
  }
  
.posnavbar {
  position:sticky;
  top:0%;
  left:0%;
  z-index: 5;
}
.container3367290 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
}


.text3367291 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: 'Alatsi', sans-serif;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	display: flex;
	overflow-wrap: break-word;
	text-decoration: none;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.container3367292 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3367293 {
	grid-column-start: 38;
	grid-column-end: 59;
	grid-row-start: 25;
	grid-row-end: 42;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container3367294 {
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 9;
	grid-row-end: 57;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container3367295 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 9;
	grid-column-end: 58;
	grid-row-start: 20;
	grid-row-end: 47;
}


.container3367296 {
	grid-column-start: 27;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container3367297 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 55;
	grid-row-start: 13;
	grid-row-end: 52;
}


.container3367143 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367144 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: 'Alatsi', sans-serif;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 20;
	grid-column-end: 46;
	grid-row-start: 29;
	grid-row-end: 37;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container3367150 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367151 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: 'Alatsi', sans-serif;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 17;
	grid-column-end: 51;
	grid-row-start: 29;
	grid-row-end: 37;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.container3367157 {
	grid-column-start: 1;
	grid-column-end: 65;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text3367158 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: 'Alatsi', sans-serif;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 18;
	grid-column-end: 48;
	grid-row-start: 29;
	grid-row-end: 37;
	display: flex;
	overflow-wrap: break-word;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.text3367385 {
	font-style: Bold;
	font-weight: 700;
	font-size: 29.999999999999996px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 50px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 24;
	grid-column-end: 42;
	grid-row-start: 19;
	grid-row-end: 26;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}


.text3367387 {
	font-style: Medium;
	font-weight: 500;
	font-size: 20.0px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: 33px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 10;
	grid-column-end: 58;
	grid-row-start: 47;
	grid-row-end: 54;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

